@charset "utf-8";

/* 左边栏 begin */
.left-body {
    width: 190px;
}

/* 个人信息区 begin */
/* logo样式 */
.left-body .logo {
    height: 125px;
    background: url(../images/logo.png) 45px 12px no-repeat #F7F8F8;
}

/* 个人信息样式 */
.left-body .user-info {
    height: 50px;
    box-sizing: border-box;
    background-color: #F6F6F6;
}

/* 已登入信息样式 */
.left-body .user-info .hasLogin {
    width: 190px;
    height: 50px;
}

/* 个人头像样式 */
.left-body .user-info img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

/* 用户名样式 */
.left-body .user-info .username {
    line-height: 50px;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 未登入信息样式 */
.left-body .user-info .notLogin {
    width: 190px;
    height: 50px;
    border: 1px solid #fff;
}

/* 登入图标样式 */
.left-body .user-info .sign-in {
    width: 95px;
    line-height: 26px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: red;
    display: block;
    margin: 12px auto;
    color: #fff;
    text-align: center;
}

/* 个人信息区 end */

/* 导航栏 begin */

.left-body .navigation ul {
    background-color: #F6F6F6;
    border-radius: 5px;
}

.left-body .navigation ul span {
    font-family: 'icomoon', serif !important;
    margin-right: 10px;
}

.left-body .navigation li {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #666666;
}

.left-body .navigation li:hover {
    background-color: #3399cc;
    color: #fff !important;
    border-radius: 5px;
}

/* 导航栏特殊样式 spacing2: 表示有两个字 */
.left-body .navigation .spacing2 {
    letter-spacing: 10px;
}

/* 设置当前页面的导航栏颜色 */
.left-body .navigation .currentPage {
    background-color: #3399cc;
    color: #fff !important;
    border-radius: 5px;
}
/* 导航栏 end */
/* 左边栏 end */
