@charset "utf-8";

/* 右边栏 begin */
.right-body {
    width: 1075px;
    background-color: #F6F6F6;
}

/* 标题样式的设置 */
.right-body h2 {
    width: 100px;
    height: 20px;
    font-size: 20px;
    font-weight: 700;
    font-family: '楷体', serif;
    margin: 20px auto;
    color: skyblue;
}

/* 横杠样式的设置 */
.right-body hr {
    border: 2px solid #ccc;
}

/* 修改密码盒子样式设置 */
.change-password {
    width: 1000px;
    border: 1px solid #F6F6F6;
}

/* 展示框部分样式设置 */
#change .change-group .key {
    float: left;
    width: 400px;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: right;
}

#change .change-group .value {
    float: left;
    margin-left: 15px;
    height: 30px;
    line-height: 30px;
    width: 200px;
    outline: none;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* 保存按钮样式的设置 */
.save {
    width: 200px;
    margin-left: 350px;
    margin-bottom: 50px;
}


