@charset "utf-8";

/* body背景 */
body {
    background: url("../../images/article/Rectangle.png") no-repeat;
}

/* 右边栏 begin */
.right-body {
    width: 1070px;
}

/* 右边栏头部样式 */
.right-body .article-head {
    width: 1070px;
    height: 100px;
}

/* 标题的样式 */
.right-body .user-blog {
    width: 1070px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 8px;
    color: skyblue;
}

/* 个人简介样式 */
.right-body .ubrief {
    width: 800px;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    text-align: center;
    margin: 5px auto;
    color: #fff;
}

/* 博客盒子样式 */
.right-body .article-box {
    background-color: #F6F6F6;
    padding-bottom: 100px;
}

/* 搜索框样式 */
.right-body .article-box .search {
    height: 100px;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    border-bottom: 1px dotted #565252;
}

/* 关键词输入框样式 */
.right-body .article-box .search .key-word {
    width: 500px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid #b8b8b8;
    outline: none;
}

/* 关键词输入框获取到焦点时的样式 */
.right-body .article-box .search .key-word:focus {
    border: 1px solid #38f;
}

/* 搜索按钮样式 */
.right-body .article-box .search .search-btn {
    width: 80px;
    height: 30px;
    border: none;
    color: #fff;
    background-color: #38f;
}

/* 鼠标悬浮到搜索按钮上时样式 */
.right-body .article-box .search .search-btn:hover {
    background-color: #317ef3;
}

/* 每条博客的盒子样式 */
.right-body .article-box .breif-info {
    width: 1000px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-bottom: 1px dotted #565252;
    box-sizing: border-box;
}

/* 博客标题样式 */
.right-body .article-box .breif-info .article-title {
    width: 1000px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: #000000;
}

/* 博客简介样式 */
.right-body .article-box .breif-info .desc {
    height: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 12px;
    color: #444444;

    /* 多行文本溢出显示省略号 */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* 文章简介底部样式 */
.right-body .article-box .breif-info .bottom-father {
    height: 20px;
    line-height: 20px;
    color: #797676;
}

/* 文章类型样式 */
.right-body .article-box .breif-info .bottom-father .type-article {
    float: left;
    line-height: 20px;
    margin-right: 15px;
}

/* 文章作者样式 */
.right-body .article-box .breif-info .bottom-father .author {
    float: left;
    height: 20px;
}

/* 文章作者图标样式 */
.right-body .article-box .breif-info .bottom-father .author span {
    font-family: 'icomoon', serif;
    font-size: 12px;
    line-height: 20px;
    float: left;
    margin-right: 8px;
}

/* 文章作者链接样式 */
.right-body .article-box .breif-info .bottom-father .author a {
    font-size: 12px;
    color: #3399CC;
    line-height: 20px;
    float: left;
}

/* 文章发表时间样式 */
.right-body .article-box .breif-info .bottom-father .time {
    float: left;
    height: 20px;
}

/* 文章发表时间图标样式 */
.right-body .article-box .breif-info .bottom-father .time span {
    font-family: 'icomoon', serif;
    font-size: 12px;
    margin-left: 30px;
    float: left;
    line-height: 20px;
}


/* 文章发表时间样式 */
.right-body .article-box .breif-info .bottom-father .time p {
    float: left;
    line-height: 20px;
    margin-left: 8px;
}

/* 最新文章阅读量样式 */
.right-body .article-box .breif-info .bottom-father .reading {
    float: left;
    height: 20px;
}

/* 最新文章阅读量样式 */
.right-body .article-box .breif-info .bottom-father .reading span {
    font-family: 'icomoon', serif;
    font-size: 12px;
    margin-left: 30px;
    float: left;
    line-height: 20px;
}

/* 最新文章阅读量样式 */
.right-body .article-box .breif-info .bottom-father .reading p {
    float: left;
    line-height: 20px;
    margin-left: 5px;
}

/* 最新文章评论量样式 */
.right-body .article-box .breif-info .bottom-father .remark {
    float: left;
    height: 20px;
}

/* 最新文章评论量样式 */
.right-body .article-box .breif-info .bottom-father .remark span {
    font-family: 'icomoon', serif;
    font-size: 12px;
    margin-left: 30px;
    float: left;
    line-height: 20px;
}

/* 最新文章评论量样式 */
.right-body .article-box .breif-info .bottom-father .remark p {
    float: left;
    line-height: 20px;
    margin-left: 5px;
}

/* 删除链接样式 */
.right-body .article-box .breif-info .bottom-father .delete-article {
    font-size: 12px;
    color: red;
    margin-left: 10px;
}

/* 编辑链接样式 */
.right-body .article-box .breif-info .bottom-father .edit-article {
    font-size: 12px;
    padding-right: 10px;
    border-right: 1px dotted #000;
}
















/* 分页盒子样式 */
.right-body .article-pagination {
    background-color: #F6F6F6;
    text-align: center;
}

/* 分页按钮样式 */
.right-body .article-pagination ul li a {
    margin-left: 5px;
    border-radius: 3px;
}

/* 当前页按钮样式 */
.right-body .article-pagination ul #cur-page a {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

/* 右边栏 end */









