@charset "utf-8";

/* 导航栏特殊样式 spacing2: 表示有两个字 */
.left-body .navigation .spacing2 {
    letter-spacing: 8px;
}

/* 中间栏 begin */
.middle-body {
    width: 730px;
    margin: 0 20px;
    padding-bottom: 100px;
}

/* 广告栏 begin */

.middle-body .advertisement {
    width: 730px;
    height: 230px;
    float: left;
    margin-top: 10px;
}

/* 广告栏左右按键共同样式 */
.middle-body .advertisement .left,
.middle-body .advertisement .right {
    line-height: 230px;
    font-size: 80px;
}

/* 广告栏左按键单独样式 */
.middle-body .advertisement .left {
    text-align: left;
    text-indent: 15px;
}

/* 广告栏右按键单独样式 */
.middle-body .advertisement .right {
    text-align: left;
    text-indent: 65px;
}

/* 广告栏 end */

/* 最新文章 begin */
.middle-body .latest-article {
    height: 45px;
    width: 730px;
    padding: 20px 0 7px 0;
    border-bottom: 2px solid #EEEEEE;
    box-sizing: border-box;
    margin-top: 240px;
}

/* 最新文章盒子样式 */
.middle-body .article {
    width: 730px;
}

/* 最新文章简介盒子样式 */
.middle-body .article .breif-info {
    width: 730px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #565252;
}

/* 最新文章标题样式 */
.middle-body .article .breif-info .article-title {
    width: 730px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: #000000;
}

/* 最新文章描述样式 */
.middle-body .article .breif-info .desc {
    width: 730px;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 12px;
    color: #444444;

    /* 多行文本溢出显示省略号 */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* 文章简介底部样式 */
.middle-body .article .breif-info .bottom-father{
    width: 730px;
    height: 20px;
    line-height: 20px;
    color: #797676;
}

/* 最新文章类型样式 */
.middle-body .article .breif-info .type-article {
    float: left;
    line-height: 20px;
    margin-right: 15px;
}

/* 最新文章作者样式 */
.middle-body .article .breif-info .author {
    float: left;
    height: 20px;
}

/* 最新文章作者图标样式 */
.middle-body .article .breif-info .author span {
    font-family: 'icomoon', serif;
    font-size: 12px;
    line-height: 20px;
    float: left;
}

/* 最新文章作者链接样式 */
.middle-body .article .breif-info .author a {
    font-size: 12px;
    color: #3399CC;
    margin-left: 5px;
    line-height: 20px;
    float: left;
}

/* 最新文章发表时间样式 */
.middle-body .article .breif-info .time {
    float: left;
    height: 20px;
}

/* 最新文章发表时间样式 */
.middle-body .article .breif-info .time span {
    font-family: 'icomoon', serif;
    font-size: 12px;
    margin-left: 30px;
    float: left;
    line-height: 20px;
}

/* 最新文章发表时间样式 */
.middle-body .article .breif-info .time p {
    float: left;
    line-height: 20px;
    margin-left: 5px;
}
/* 最新文章阅读量样式 */
.middle-body .article .breif-info .reading {
    float: left;
    height: 20px;
}

/* 最新文章阅读量样式 */
.middle-body .article .breif-info .reading span {
    font-family: 'icomoon', serif;
    font-size: 12px;
    margin-left: 30px;
    float: left;
    line-height: 20px;
}

/* 最新文章阅读量样式 */
.middle-body .article .breif-info .reading p {
    float: left;
    line-height: 20px;
    margin-left: 5px;
}

/* 最新文章评论量样式 */
.middle-body .article .breif-info .remark {
    float: left;
    height: 20px;
}

/* 最新文章评论量样式 */
.middle-body .article .breif-info .remark span {
    font-family: 'icomoon', serif;
    font-size: 12px;
    margin-left: 30px;
    float: left;
    line-height: 20px;
}

/* 最新文章评论量样式 */
.middle-body .article .breif-info .remark p {
    float: left;
    line-height: 20px;
    margin-left: 5px;
}
/* 最新文章 end */

/* 中间栏 end */

/* 右边栏 begin */
.right-body {
    width: 320px;
}

/* 每日一句 begin */
.right-body .daily {
    margin-top: 20px;
    margin-bottom: 96px;
    width: 320px;
    height: 118px;
    border: 1px solid #EEEEEE;
}

/* 每日一句名称样式 */
.right-body .daily .name {
    background-color: #3399CC;
    height: 30px;
    width: 78px;
    line-height: 30px;
    padding: 0 10px;
    color: #F1F8FC;
}

/* 每日一句标题样式 */
.right-body .daily h2 {
    color: #3399CC;
    margin-left: 12px;
    margin-top: 12px;
}

/* 每日一句段落样式 */
.right-body .daily p {
    font-size: 12px;
    color: #AAAAAA;
    margin-left: 12px;
    margin-top: 15px;
}
/* 每日一句 end */

/* 热门学习小组 begin */
.right-body .hot-group {
    height: 50px;
    width: 320px;
    padding: 22px 0 6px 0;
    box-sizing: border-box;
    color: #666666;
    border-bottom: 1px solid #EEEEEE;
}

.right-body ul li {
    width: 320px;
    height: 90px;
    border-bottom: 1px solid #EEEEEE;
}

.right-body ul li .msg {
    width: 160px;
    height: 90px;
    padding: 22px 0 9px 0;
    float: left;
    box-sizing: border-box;
}

.right-body ul li .msg span {
    font-size: 14px;
    color: #666666;
}

.right-body ul li .msg span:first-child {
    height: 35px;
    width: 160px;
}

.right-body ul li .msg span:last-child {
    height: 30px;
    width: 160px;
    line-height: 30px;
}

.right-body ul li .icon {
    width: 90px;
    height: 90px;
    float: right;
}

.right-body ul li .icon img {
    width: 90px;
    height: 90px;
}

/* 热门学习小组 end */

/* 右边栏 end */
